/*VARIABLES*/
$mint-green: #00E2AC;
$light-blue: #00CFFF;
/*VARIABLES*/
/*MIXINS*/

/*MIXINS*/
.hero {
  font-family: Roboto, serif;
  text-align: center;
  min-height: 800px;
  background-size: cover;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &.landscape {
    color: white;
  }
  h2 {
    margin: 100px 0px 50px 0px;
    font-size: 40px;
    line-height: 40px;
  }
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
/***SIDEBAR MENU***/
#hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 34px;
  width: 40px;
  margin: 20px 0px 0px 30px;
  border-radius: 4px;
  background-color: black;
  z-index: 1;
  //left: .5%;
  top: 1%;
  &:hover {
    background-color: $light-blue;
    cursor: pointer;
  }
  img {
    height: 30px;
    width: 30px;
  }
}

#sidebar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 1%;
  width: 0px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  font-family: Roboto, serif;
  color: white;
  background-color: black;
  z-index: 2;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 0px 5px 5px 0px;


  &.open {
    width: 320px;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
    margin: 4px;
    padding: 0px;
  }

  a {
    color: white;
    font-size: 24px;
    margin-left: 10px;
  }

  .sidebar-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #close-btn {
  margin: 20px 0px 0px 30px;
  align-self: flex-start;
  //position: relative;
  color: white;
  //left: 1%;
  //top: 1%;
    &:hover {
      cursor: pointer;
      opacity: .5;
    }
    img {
      height: 30px;
      width: 30px;
    }
  }
}
/***MEDIA QUERIES***/

@media only screen and (max-width: 480px) {

  .intro {
    min-height: 640px;
  }

  .left-col h2 {
    font-size: 42px;
    line-height: 40px;
  }

  #footer {
    margin-left: 20px;
    margin-right: 20px;
      h4 {
        padding-right: 20px;
      }
  }
}

@media only screen and (max-width: 992px) {
  .row {
    min-width: 100%;
  }
  .col-xs-4 {
    width: 100%;
  }

  .col-xs-4 img {
    width: 100%;
    max-width: 992px;
    max-height: 900px;
  }
}

/***INTRO SECTION***/

#intro h1, h5 {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
}

#intro {

  h1 {
    line-height: 55px;
    font-size: 72px;
  }
  h5 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700px;
  }
}

.cta {
  background-color: black;
  color: white;
  padding: 0px;
  width: 180px;
  font-size: 18px;
  line-height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $light-blue;
    text-decoration: none;
  }
}

/***ABOUT SECTION***/

#about {
  min-height: 0;
}

.left-col {
  color: $mint-green;
  padding: 20px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 55px;
  }
}

.right-col {
  text-align: left;
  padding: 20px;
  h5 {
    font-size: 24px;
    line-height: 30px;
  }
}

/***GALLERY SECTION***/

#gallery {
  background-color: #EEFDF9;
  padding: 0;
  margin: 0;
}

.col-xs-4 {
  overflow: hidden;
  padding: 0px 5px 10px 5px;
  img {
    height: 100%;
    width: 100%;
    max-width: 373px;
    max-height: 373px;
  }
}

/***BRIDGE SECTION***/

.bridge {
  background-image: url("../img/bridge/full-width.jpg");
  background-size: cover;
  width: 100%;
  margin: auto;
  }

/***CONTACT SECTION***/

.col-xs-12 {
    #contact {


      p {
        font-size: 24px;
        max-width: 740px;
        margin-bottom: 40px;
      }

    }

}
.social {
  padding: 20px;
}
#social {
  a {
    margin: 0 0 0 10px;
    text-decoration: none;
  }

  img {
    height: 20px;
    &:hover {
      opacity: .5;
    }
  }
}

/***FOOTER SECTION***/

#footer {
  height: 40px;
  margin: 0 10%;
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  a {
    color: black;
    font-size: 16px;
    line-height: 40px;
    padding: 0;
    margin: 0 20px 0 5px;
  }
  &.footer-item {
    flex: 1;
    max-width: 100px;
  }
}

.copyright {
  margin-left: auto;
  color: $mint-green;
}
